@import '../../index.css';

.modal {
    height: 462px;
    width: 963px;
    border: 2px solid var(--color-offwhite);
    background-color: var(--color-dark);
    border-radius: 12px;  
    align-items: center;
    color: blue;
  }