.backdrop {
  position:absolute;
  top: -34%;
  left: -12.5%;
  height: 142%;
  width: 125%;
  z-index: 100;
  background: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}