@import '../index.css';
.container {
    background-color: rgba(20,17,20, 0.8);
    border: 1px solid var(--color-offwhite);
    border-radius: 5px;
    text-align: center;
    backdrop-filter: blur(1px);
    height: 15%;
    width: auto;
    margin-top: 10px;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    
}

.coin {
    width: 45px;
    height: auto;
    margin-left: 4%;
}

.coinName {
    margin-left: 30px;
    font-family: 'Turret Road', sans-serif;
    color: #83ddbc;
    letter-spacing: 2px;
}
.container div:nth-child(1) {
    display: flex;
    align-items: center;
    margin-left: 3%;
    margin-right: auto;
    font-family: 'Turret Road', sans-serif;
    
}   

.container div:nth-child(2){
    margin-right: 50%;
    color:var(--color-offwhite);
    font-family: 'Turret Road', sans-serif;
}


.container div:nth-child(3){
    margin-right: 3%;
    color:var(--color-offwhite);
    font-family: 'Turret Road', sans-serif;
}
