@import '../index.css';

.fieldset {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -45%);
    transform: translate(-50%, -45%);
    z-index: 2;
    background-color: rgba(20,17,20, 0.8);
    border: 2px solid var(--color-offwhite);
    border-radius: 5px;
    text-align: center;
    backdrop-filter: blur(1px);

    legend {
        color: var(--color-offwhite);
        font-size: 4rem;
        font-weight: 200;
        padding-bottom: 0.5rem;
        font-family: 'Turret Road', sans-serif;
        font-style: italic;
        font-weight: 900;
    }
}
