.background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    background-color: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(20,17,20,1) 50%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(20,17,20,1) 50%);
}
