@import url('https://fonts.googleapis.com/css?family=Turret+Road');
@import-normalize;

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-offwhite: #F7F8DA;
  --color-dark:rgb(20,17,20) ;
  --color-teal:#83ddbc;
}

::selection {
  background: rgba(131,221,188, 0.3);
}


.MuiDataGrid-cell{
  color: #F7F8DA;
  border-left: solid 0.5px #fff;
  
}
.MuiDataGrid-columnHeader{
  color: #83ddbc;
  font-family: 'Turret Road';
}


.MuiDataGrid-footerContainer{
  color: #83ddbc;
  font-family: 'Turret Road';
}
