.backdrop {
  position:absolute;
  top: -86%;
  left: -13%;
  width: 125%;
  height: 100vh;
  z-index: 100;
  background: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}